* {
    margin: 0;
    padding: 0;
}
#div1{
    height: 300px;
    width: 300px;
    border: 2px solid black; 
    
    display: flex;
}
#div2{
    text-align: center;
    height: 50px;
    width: 300px;
    border: 1px solid black;
    padding-top: 1px;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(159, 39, 39);
    color: wheat;
}
#div3{
    
}